{{#paper-content class="md-whiteframe-z1 content-height"}}
  {{paper-input label="Filter" value=filter class='no-pad-bottom'}}
  {{#paper-list class='content-height'}}
    {{#each filteredResults as |item|}}
      {{#paper-item class="md-3-line"}}
        <img src={{item.profile_image}} alt={{item.screen_name}} class="md-avatar">
        <div class="md-list-item-text">
          <h3>{{item.screen_name}}</h3>
          <h4>{{item.location}}</h4>
          <p>
            {{item.text}}
          </p>
        </div>
      {{/paper-item}}
    {{/each}}
    <div style='position:relative; text-align: center;'>
      {{#paper-button disabled=buttonDisabled raised=true primary=true action="loadMore" target=component}}Load More{{/paper-button}}
    </div>
  {{/paper-list}}
{{/paper-content}}
